.useradmin-page .container-right {
  display: none;
}

@media screen and (min-width: 950px) {
  .useradmin-page .floating-button {
    display: none;
  }

  .useradmin-page .container-right {
    display: block;
  }
}