.exercise-card-container {
  width: 96%;
  margin: 1rem;
}

.exercise-card {
  background-color: #ffffff;
  border-radius: 8px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  padding: 20px;
}

.exercise-head {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.exercise-description {
  flex-grow: 1;
}

.exercise-title {
  margin: 0;
}

.exercise-info {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
}

.info-label {
  font-weight: bold;
  margin-right: 5px;
}

.green {
  color: green;
}

.red {
  color: red;
}

.display {
  display: flex;
  align-items: center;
}

.hidden {
  display: none;
}

.grades-container {
  margin-top: 10px;
}

.grades-scroll {
  max-height: 200px;
  overflow-y: auto;
}

.grade-container {
  display: flex;
  flex-direction: column;
}

@media screen and (max-width: 450px) {
  .exercise-info-item {
    display: flex;
    flex-direction: column;
  }
}
