.coursesadmin-page .container-right {
  display: none;
  min-width: 25%;
}

.coursesadmin-page .container-right>.right_menu {
  padding-inline: 2rem;
}

.coursesadmin-page .container-right>.right_menu .inputs {
  width: 100%;
}

@media screen and (min-width: 1200px) {
  .coursesadmin-page .container-right {
    display: block;
  }

  .coursesadmin-page .floating-button {
    display: none;
  }
}