.menu1 {
    display: flex;
    height: 100px;
    background: #f9f9f9;
    border-radius: 30px;
    margin: 10px;
    padding: 9px;
    align-items: center;
    user-select: none;
    justify-content: space-between;
}

.menu1 .more-options-container {
    margin-right: 2rem;
}

.menu1 .more-options-container .setting-display {
    display: none;
}


.menu1 .more-options-container .more-options-content {
    cursor: pointer;
}

.more-options-dropdown {
    display: none;
}

.menu1 nav {
    display: flex;
}

.menu1 .menuItems {
    list-style: none;
    display: none;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}

.menu1 .menuItems li {
    margin-right: 25px;
    display: flex;
    align-items: center;
}

.menu1 .menuItems a {
    text-decoration: none;
    color: #3D3D3D;
    font-family: 'Roboto', sans-serif;
    font-size: 15px;
    font-weight: bold;
    position: relative;
    text-transform: uppercase;
}

.menu1 .menuItems a::before {
    content: attr(data-item);
    transition: width 0.5s ease-in-out;
    color: #3E94E7;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    width: 0;
    overflow: hidden;
}

.menu1 .menuItems a:hover::before {
    width: 100%;
}

.menu1 .logotype {
    width: 99px;
    margin-right: 25px;
}

.menu1 .menuItems a.active {
    color: #3E94E7;
}

@media screen and (min-width: 528px) {
    .menu1 .menuItems a {
        font-size: 20px;
    }
}

@media screen and (min-width: 600px) {
    .menu1 .menuItems {
        display: flex;
    }

    .menu1 .menuItems a {
        font-size: 24px;
    }

    .more-options-dropdown {
        display: block;
    }

    .more-options-dropdown-small-screen {
        display: none;
    }
}


@media screen and (min-width: 1070px) {
    .menu1 .more-options-container .setting-icon {
        display: none;
    }

    .menu1 .more-options-container .setting-display {
        display: block;
    }
}