.headers {
  background-color: #3E94E7;
  border-bottom-left-radius: 60px;
  height: 13vh;
  display: flex;
  align-items: center;
  justify-content: space-between;
  user-select: none;
  color: white;
}

.headers h1 {
  font-size: 1.5rem;
  margin-left: 7%;
}

.headers .menu-list {
  display: none;
  list-style: none;
  gap: 1.5rem;
  align-items: center;
  justify-content: flex-end;
  margin-right: 5%;
  cursor: pointer;
  font-family: 'Roboto', sans-serif;
  font-size: 17px;
  font-weight: bold;
  text-transform: uppercase;
}

.headers .menu-list>li:hover {
  color: rgb(198, 255, 190);
  transition: all ease-in-out 0.2s;
}

.headers .dropdown {
  padding: 3%;
  margin-right: 1.5rem;
}

@media screen and (min-width: 500px) {
  .headers h1 {
    font-size: 2rem;
  }
}

@media screen and (min-width: 830px) {
  .headers .dropdown {
    display: none;
  }

  .headers .menu-list {
    display: flex;
  }

  .student-exercises .headers .menu-list {
    font-size: 12px;
  }
}

@media screen and (min-width: 950px) {
  .headers .menu-list {
    font-size: 20px;
  }

  .student-exercises .headers .menu-list {
    font-size: 20px;
  }
}