.activity-section {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.activity-section .activities-card{
  width: 80vw;
  margin-block: 0.5rem;
  margin-inline:  1rem;
}

@media screen and (min-width: 768px) {
  .activity-section .activities-card {
    width: 40vw !important;
  }
}

@media screen and (min-width: 1080px) {
  .activity-section .activities-card {
    width: 30vw !important;
  }
}


@media screen and (min-width: 1600px) {

  .activity-section .activities-card {
    width: 30vw !important;
  }
}