.filter-container {
  font-family: Arial, sans-serif;
  background-color: #f5f5f5;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  padding-block: 5px;
}

.filter-label {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  color: #333;
}

.filter-label.date-picker {
  width: 20%;
}

.filter-label.slider {
  max-width: clamp(200px, 50%, 500px);
}

.filter-content {
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-wrap: nowrap;
}

.hour-range {
  display: flex;
  justify-content: space-between;
}

@media only screen and (max-width: 750px) {
  .filter-content {
    flex-direction: column;
    gap: 1rem;
  }

  .filter-label.date-picker {
    width: 60%;
  }
}