.cardunits-container {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 1rem;
  height: auto;
  width: 90vw;
  margin: 0 auto;
  user-select: none;
}

.cardunits {
  background-color: #ffffff;
  border-radius: 30px;
  padding: 20px;
  position: relative;
  width: 90%;
  display: flex;
  cursor: pointer;
}

.cardunits-container .square {
  width: 3.5rem;
  height: 3.5rem;
  background-color: #007bff;
  margin: 0;
  border-radius: 20px;
}

.cardunits:hover,
.cardunits.hovered {
  box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.1);
}

.cardunits .content {
  width: 90%;
  font-size: 1.5rem;
  font-weight: bolder;
  display: flex;
  margin-left: 10px;
  flex-direction: column;
  justify-content: space-around;
}

.cardunits .content .date{
  font-size: 1rem;
  font-weight: lighter;
  text-align: end;
}

@media only screen and (min-width:640px) {
  .cardunits {
    padding: 20px;
  }

  .cardunits .content {
    font-size: 1.5rem;
    font-weight: bolder;
  }
}