.cardunits-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 200px;
  width: 80%;
  margin: 0 auto;
  user-select: none;
}

.cardunits {
  background-color: #ffffff;
  border-radius: 30px;
  padding: 10px;
  position: relative;
  width: 90%;
  display: flex;
  cursor: pointer;
}

.cardunits-container .square {
  width: 30px;
  height: 30px;
  background-color: #007bff;
  margin-right: 20px;
  border-radius: 20px;
}

.cardunits:hover,
.cardunits.hovered {
  box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.1);
}

.cardunits .content {
  width: 90%;
  font-size: 1rem;
  font-weight: bolder;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.cardunits .content .date{
  font-size: 1rem;
  font-weight: lighter;
  text-align: end;
}

@media only screen and (min-width:640px) {
  .cardunits {
    padding: 20px;
  }

  .cardunits .content {
    font-size: 1.5rem;
    font-weight: bolder;
  }

  .cardunits-container .square {
    width: 50px;
    height: 50px;
  }
}