.auth-code-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 10rem;
  aspect-ratio: 2;
}

.auth-code-container .generate-button {
  padding-inline: 1rem;
}

.auth-code-container .generate-button:disabled {
  background-color: rgb(173, 173, 173);
  color: rgba(0, 0, 0, 0.534);
}