.profile-header {
    background-color: #3E94E7;
    border-bottom-left-radius: 60px;
    border-bottom-right-radius: 60px;
    height: 11vh;

}

.profile-header .avatar-container {
    padding-top: 3vh;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.profile-header .user-avatar {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 5rem !important;
    height: 5rem !important;
    font-size: 3.5rem;
    background-color: white;
    color: rgb(41, 41, 41);
}

.actions {
    position: absolute;
    color: white;
    right: 10%;
    top: 3vh;
    font-size: 1.8rem;
}

.go-back {
    position: absolute;
    color: white;
    left: 10%;
    top: 3vh;
    font-size: 1.8rem;
}