.container {
  display: flex;
}

.container-left {
  display: flex;
  flex-direction: column;
  width: 100%;
  max-height: 100vh;
}

.container-right {
  display: none;
}

.container-left .squares {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding-block: 20px;
  justify-content: center;
}

.container-left .square {
  width: 100px;
}

.list-titles {
  margin: 0px;
  padding-left: 1rem;
}

@media screen and (min-width: 500px) {
  .container-left .square {
    width: 150px;
  }
}

@media screen and (min-width: 600px) {
  .container-left .square {
    width: 200px;
  }
}

@media screen and (min-width: 856px) {

  .container-left .square {
    width: auto;
  }

  .container-right {
    display: block;
  }
}