.container {
    display: flex;
}

.container-left {
    display: flex;
    flex-direction: column;
    width: 75%;
    height: 100vh;
}

.container-right {
    width: 25%;
}

.squares{
    display: flex;
    flex-wrap: wrap;
    height: 100%;
    padding-top: 20px;
    overflow:auto
}

.list-titles {
    margin: 0px;
    padding-left: 10px;
}


@media (max-width: 767px) {
    .container-left {
        width: 100%;
    }
}